/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/

body {
  font-family: "Work Sans";
  font-size: 14px;
}

.main-container {
  max-width: 1140px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

main {
  padding: 0 100px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  color: black;
}

nav li:hover,
.modify:hover,
.modify:hover .fa-regular {
  cursor: pointer;
  color: #0e2f28;
  font-weight: 700;
}

nav li:last-child img {
  height: 22px;
  width: 22px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
button:hover,
input[type="submit"]:not(:disabled):hover,
.upload-container label:hover {
  cursor: pointer;
}

.error-message {
  width: fit-content;
  margin: 16px auto;
  color: #dc143c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  /* margin: auto; */
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  line-height: 1.2rem;
}

#portfolio {
  margin-bottom: 75px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.gallery figcaption {
  margin-top: 6px;
}

.gallery .error-message {
  grid-column: 1 / -1;
}

#contact,
#login {
  width: 50%;
  margin: auto;
}
#contact > *,
#login > * {
  text-align: center;
}
#contact h2,
#login h2 {
  margin-bottom: 20px;
}
#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input:not([type="submit"]),
#login input:not([type="submit"]),
.modal input,
.modal select,
.modal-form .button-next {
  height: 50px;
  padding: 0 16px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
.fields-container label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 8px;
}

input[type="submit"],
.upload-container label,
.modal-form .button-next {
  height: 36px;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  border: none;
  transition: 0.2s ease-in-out;
}

input[type="submit"]:hover,
.modal-form .button-next:hover {
  background-color: #0e2f28;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.hidden {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

/* Filters  */

.filters {
  margin-top: 30px;
  margin-bottom: 30px;
}

.filters ul {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 10px;
}

.filters li {
  margin: 2em auto;
}

.filters a {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 8px;
  font-size: 1.2em;
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  transition: 0.2s ease-out;
}

.filters a:hover,
.filters a.filter-active {
  cursor: pointer;
  color: white;
  background-color: #1d6154;
}

.projects-title {
  display: flex;
  width: fit-content;
  margin: 125px auto 0 auto;
  gap: 16px;
  align-items: center;
}

.projects-title.margin-bottom {
  margin-bottom: 75px;
}

.modify span {
  margin-left: 8px;
}

/* Page Login */

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header a.bold {
  font-weight: 700;
}

#login .link {
  width: fit-content;
  margin: 0 auto;
  text-decoration: underline;
}

#login .link:hover {
  font-weight: 700;
}

#login .error-message {
  height: 3em;
  line-height: 2em;
  margin: 0;
}

#login input[type="submit"] {
  margin-top: 0;
}

/* Topbar */

#topbar.hidden {
  display: none;
}

#topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  height: 59px;
  width: 100%;
  gap: 8px;
  background-color: black;
  color: white;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  background-color: whitesmoke;
  width: 630px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modal-topbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 40px;
  padding: 0 16px;
}

.modal-topbar button {
  width: 24px;
  height: 24px;
  font-size: 18px;
  background: none;
  border: none;
  border-radius: 2px;
}

.modal-close:hover .fa-solid,
.modal-back:hover .fa-solid {
  color: #1d6154;
}

.modal-topbar .error-message {
  margin-bottom: 0;
}

button.modal-back {
  font-size: 24px;
  visibility: hidden;
}

.modal-form {
  padding: 30px 50px;
}

.modal-form h3 {
  width: fit-content;
  margin: 0 auto 30px auto;
  font-size: 26px;
}

.modal-form ul {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 6.4px));
  gap: 8px;
  padding-bottom: 50px;
  border-bottom: 1px solid #b3b3b3;
}

.modal-form li {
  position: relative;
  transition: 0.2s ease;
}

.modal-form li:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.modal-form img {
  object-fit: cover;
}

.modal-image-list .icon-wrapper {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 2px;
}

.modal-form i {
  color: white;
}

.modal-form .button-add,
.modal-form .button-next {
  display: block;
  width: 38%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form .button-add.hidden {
  display: none;
}

/* Modale ajouter projet */

.fields-container {
  flex-direction: column;
  display: none;
}

.upload-container {
  height: 170px;
  background-color: #e8f1f6;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd6dc;
  font-family: "Work Sans";
  font-weight: 500;
  color: #306685;
}

.upload-container label:hover {
  background-color: #1d6154;
  color: white;
}

.upload-container input {
  position: absolute;
  left: -100vw;
}

.upload-container .icon-wrapper {
  font-size: 64px;
}

.upload-container i {
  color: #cbd6dc;
}

.upload-container img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.fields-container select {
  padding: 0;
  border-left: 16px solid white;
  border-right: 16px solid white;
}

input.button-add:disabled {
  background-color: #cbd6dc;
}
